
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# Cache of project
.gradletasknamecache

.idea
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

out
